<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Tokimon Database</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="scripts/main.js" defer></script>
</head>

<html lang="eng">
    <div class="sidebar">
        <button id="addBtn">Add Tokimon</button>
        <button id="modBtn">Modify Tokimon</button>
        <button id="delBtn">Delete Tokimon</button>
    </div>

    <div id="addModal" class="modal">
        <div id="addModalContent" class="modalContent">
            <h2>Add a Tokimon to the database</h2>
            <form id="addForm" action="/add" method="POST" onsubmit="return validate()">
                <div class="form-style">
                    <label><span>Name </span><input type="text" name="name" id="addName" placeholder="Name"></label>
                    <label><span>Weight </span><input type="number" name="weight" id="addWeight" placeholder="0"></label>
                    <label><span>Height </span><input type="number" name="height" id="addHeight" placeholder="0"></label>
                    <label><span>Fly </span><input type="number" name="fly" id="addFly" placeholder="0"></label>
                    <label><span>Fight </span><input type="number" name="fight" id="addFight" placeholder="0"></label>
                    <label><span>Fire </span><input type="number" name="fire" id="addFire" placeholder="0"></label>
                    <label><span>Water </span><input type="number" name="water" id="addWater" placeholder="0"></label>
                    <label><span>Electric </span><input type="number" name="electric" id="addElectric" placeholder="0"></label>
                    <label><span>Ice </span><input type="number" name="ice" id="addIce" placeholder="0"></label>
                    <label><span>Trainer </span><input type="text" name="trainer" id="addTrainer" placeholder="Trainer"></label>
                    <label><span>Friendship </span><input type="number" name="friendship" id="addFriendship" placeholder="0"></label>
                    <label><span>Experience </span><input type="number" name="experience" id="addExperience" placeholder="0"></label>
                    <label><span>Gender</span><select name="gender" id="addGender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select></label>
                    <label><span></span><input type="submit" value="Submit" id="addSubmit"></label>
                </div>
            </form>
        </div>        
    </div>

    <div id="delModal" class="modal">
        <div id="delModalContent" class="modalContent">
            <h2>Select a Tokimon to delete</h2>
            <form id="delForm" action="/del" method="POST">
                <div class="form-style">
                    <% if (results.length) { %>
                    <label><span>Name</span><select name="delName">
                            <% for (var i = 0; i < results.length; i++) { %>
                        <option value="<%= results[i].name %>"><%= results[i].name %></option>
                        <% } %>
                    </select></label>
                    <label><span></span><input type="submit" value="Delete" id="delSubmit"></label>
                    <% }
                    else { %>
                    <h3>There are no Tokimon to delete</h3>                            
                    <% } %>
                </div>
            </form>
        </div>
    </div>

    <div id="modModal" class="modal">
            <div id="modModalContent" class="modalContent">
                <h2>Select a Tokimon to modify</h2>
                <% if (results.length) { %>
                <form id="modForm" action="/modify/<%= results[0].name %>" method="GET">
                    <div class="form-style">
                        <label><span>Name</span><select name="modName">
                                <% for (var i = 0; i < results.length; i++) { %>
                            <option value="<%= results[i].name %>"><%= results[i].name %></option>
                            <% } %>
                        </select></label>
                        <label><span></span><input type="submit" value="Modify" id="delSubmit"></label>
                        <% }
                        else { %>
                        <h3>There are no Tokimon to modify</h3>                            
                        <% } %>
                    </div>
                </form>
            </div>
        </div>

    <body>
        <main> 
            <h1>Tokimon Database</h1>
            
            <table id="database">
                <thead>
                    <tr>
                        <th onclick="sort(0)" value="">Name</th>
                        <th onclick="sort(1)" value="">Weight</th>
                        <th onclick="sort(2)" value="">Height</th>
                        <th onclick="sort(3)" value="">Fly</th>
                        <th onclick="sort(4)" value="">Fight</th>
                        <th onclick="sort(5)" value="">Fire</th>
                        <th onclick="sort(6)" value="">Water</th> 
                        <th onclick="sort(7)" value="">Electric</th>
                        <th onclick="sort(8)" value="">Ice</th>
                        <th onclick="sort(9)" value="">Total</th>
                        <th onclick="sort(10)" value="">Trainer</th>
                        <th onclick="sort(11)" value="">Gender</th>
                        <th onclick="sort(12)" value="">Friendship</th>
                        <th onclick="sort(13)" value="">Experience</th> 
                    </tr>
                </thead>
                <tbody>
                    <% if (results.length) {
                        for (var i = 0; i < results.length; i++) { %>
                    <tr>
                        <td><a href="tokimon/<%= results[i].name %>" title="More information">
                            <%= results[i].name %></a></td>
                        <td><%= results[i].weight %></td>
                        <td><%= results[i].height %></td>
                        <td><%= results[i].fly %></td>
                        <td><%= results[i].fight %></td>
                        <td><%= results[i].fire %></td>
                        <td><%= results[i].water %></td> 
                        <td><%= results[i].electric %></td>
                        <td><%= results[i].ice %></td>
                        <td><%= results[i].total %></td>
                        <td><%= results[i].trainer %></td>
                        <td><%= results[i].gender %></td>
                        <td><%= results[i].friendship %></td>
                        <td><%= results[i].experience %></td> 
                    </tr>
                        <% }
                    }
                    else { %>
                    <tr>
                        <td colspan="15">No Tokimon</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>            
        </main>
    </body>
</html>