<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <% if (results.length) { %>
    <title>Tokimon Database - <%= results[0].name %></title>
    <% }
    else { %> 
    <title>Tokimon Database</title>
    <% } %>
    <link rel="stylesheet" href="/stylesheets/tokimon.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/scripts/tokimon.js" defer></script>
</head>

<html lang="eng">
    <div class="sidebar">
        <button id="homeBtn">Home</button>
    </div>

    <div id="addModal" class="modal">
        <div id="addModalContent" class="modalContent">
            <h2>Add a Tokimon to the database</h2>
            <form action="/add" method="POST">
                <div class="form-style">
                    <label><span>Name </span><input type="text" name="name" id="addName" placeholder="Name"></label>
                    <label><span>Weight </span><input type="number" name="weight" id="addWeight" placeholder="0"></label>
                    <label><span>Height </span><input type="number" name="height" id="addHeight" placeholder="0"></label>
                    <label><span>Fly </span><input type="number" name="fly" id="addFly" placeholder="0"></label>
                    <label><span>Fight </span><input type="number" name="fight" id="addFight" placeholder="0"></label>
                    <label><span>Fire </span><input type="number" name="fire" id="addFire" placeholder="0"></label>
                    <label><span>Water </span><input type="number" name="water" id="addWater" placeholder="0"></label>
                    <label><span>Electric </span><input type="number" name="electric" id="addElectric" placeholder="0"></label>
                    <label><span>Ice </span><input type="number" name="ice" id="addIce" placeholder="0"></label>
                    <label><span>Trainer </span><input type="text" name="trainer" id="addTrainer" placeholder="Trainer"></label>
                    <label><span>Friendship </span><input type="number" name="friendship" id="addFriendship" placeholder="0"></label>
                    <label><span>Experience </span><input type="number" name="experience" id="addExperience" placeholder="0"></label>
                    <label><span>Gender</span><select name="gender" id="addGender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select></label>
                    <label><span></span><input type="submit" value="Submit" id="addSubmit"></label>
                </div>
            </form>
        </div>        
    </div>


    <body>
        <main> 
            <% if (results.length) { %>
            <h1><%= results[0].name %></h1>
            <% }
            else { %> 
            <h1>This Tokimon doesn't exist</h1>
            <% } %>
            
            <table>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Fly</th>
                    <th>Fight</th>
                    <th>Fire</th>
                    <th>Water</th> 
                    <th>Electric</th>
                    <th>Ice</th>
                    <th>Total</th>
                    <th>Trainer</th>
                    <th>Gender</th>
                    <th>Friendship</th>
                    <th>Experience</th> 
                </tr>
                <% if (results.length) {
                    for (var i = 0; i < results.length; i++) { %>
                <tr>
                    <td><%= results[i].name %></td>
                    <td><%= results[i].weight %></td>
                    <td><%= results[i].height %></td>
                    <td><%= results[i].fly %></td>
                    <td><%= results[i].fight %></td>
                    <td><%= results[i].fire %></td>
                    <td><%= results[i].water %></td> 
                    <td><%= results[i].electric %></td>
                    <td><%= results[i].ice %></td>
                    <td><%= results[i].total %></td>
                    <td><%= results[i].trainer %></td>
                    <td><%= results[i].gender %></td>
                    <td><%= results[i].friendship %></td>
                    <td><%= results[i].experience %></td> 
                </tr>
                    <% }
                }
                else { %>
                <tr>
                    <td colspan="15">No Tokimon</td>
                </tr>
                <% } %>

            </table>            
        </main>
    </body>
</html>